body {
    margin: 0;
    /*    background-image: linear-gradient(#000060 40%, #0227F5, #D4D2E0);*/
    background-image: linear-gradient(#000060 20%, #563384, #5841C4, #C6549E, #DEB4E6);

}


img {
    width: 100%;
}

html {
    scroll-behavior: smooth;
}


/*********************MENUBAR****************/


nav {
    background-color: black;
    display: flex;
    z-index: 1;
    position: fixed;
    width: 100vw;
    margin-top: -55px;
}

#menuknap {
    color: white;
    display: inline-block;
    font-size: 40px;
    margin-left: 5%;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;

}

.logo {
    background-image: url(assets/Logo_no_text.png);
    background-size: cover;
    width: 50px;
    height: 50px;
    right: 5%;
    top: 3%;
    z-index: 1;
    position: absolute;
    cursor: pointer;
}

.hidden {
    display: none;
    transform: translateX(-100%);
    padding: 0;

}

#menu {
    list-style-type: none;
    transform-origin: top left;
    background-color: black;
    margin-top: 50px;
    position: relative;
    left: 12%;

}

.filter {
    background: transparent;
    border: 0px solid transparent;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    text-transform: uppercase;
    cursor: pointer;
}

.valgt {
    color: yellow;
    text-shadow: 0 0 20px rgb(255, 255, 0);
}

.filter:hover {
    color: yellow;
    text-shadow: 0 0 20px rgb(245, 0, 255);
}

li {
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
}

@media(min-width: 700px) {
    #menuknap {
        display: none;
    }

    #menu.hidden {
        transform: translateX(0);
        opacity: 1;
        padding-left: 40px;
    }

    #menu {
        margin: 0;
        padding-bottom: 14px;
        width: 90vw;
        display: flex;
        justify-content: space-evenly;
        margin-left: 50px;
        left: 0;
    }

    #menu li {
        font-family: 'Montserrat', sans-serif;
        cursor: pointer;
    }

    .logo {
        right: 0%;
        top: 15%;
    }

    nav {
        height: 55px;
    }

    .filter {
        font-size: 0.8rem;
    }

    #menu {
        margin-left: 0px;
    }


}

@media(min-width: 1100px) {
    .filter {
        font-size: 1.2rem;
    }

    #menu {
        margin-left: 0px;
    }

    .logo {
        right: 4%;
        top: 15%;
    }
}

/**************SPLASH******************/

#splash {
    width: 100vw;
    height: 100vh;
    max-width: none;
    background-image: url(assets/splash.png);
    background-size: cover;
    background-position: 49% 100%;
    position: relative;
    margin-top: 55px;

}

.link {
    width: 100vw;
    display: flex;
    justify-content: center;


}

#pil {
    width: 150px;
    cursor: pointer;
    margin-top: 67vh;

}


.pulse {
    animation-name: pulse_kf;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}

@keyframes pulse_kf {
    0% {
        transform: scale(0.80);
    }

    50% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.80);
    }
}

#stjerneskud1_sprite {
    width: 6vw;
    height: 3.75vw;
    background-image: url(assets/stjerneskud.svg);
    background-size: cover;
    transform: rotate(140deg);
}

#stjerneskud1_container {
    position: absolute;
    top: -60px;
    left: 400px;
}

#stjerneskud2_sprite {
    width: 6vw;
    height: 3.75vw;
    background-image: url(assets/stjerneskud.svg);
    background-size: cover;
    transform: rotate(-30deg);
}

#stjerneskud2_container {
    position: absolute;
    top: 400px;
    left: -100px;
}

.flyv1 {
    animation: flyv1_kf 1.5s linear 1;
}

@keyframes flyv1_kf {
    0% {
        top: -60px;
        left: 600px;
        opacity: 1;
    }

    100% {
        top: 600px;
        left: -150px;
        opacity: 0%
    }
}

.flyv2 {
    animation: flyv2_kf 1s linear 1;
}

@keyframes flyv2_kf {
    0% {
        top: 700px;
        left: 800px;
        opacity: 1;
    }

    100% {
        top: 300px;
        left: 1500px;
        opacity: 0%
    }
}

#raket_sprite {
    width: 3vw;
    height: 3vw;
    background-image: url(assets/rocket.svg);
    background-size: cover;
}

#raket_container {
    position: absolute;
    top: 90px;
    left: 490px;
}

.raket {
    transform-origin: 530% 530%;
    animation-name: raket_kf;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes raket_kf {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@media (max-width: 600px) {
    #stjerneskud1_sprite {
        display: none;
    }

    #stjerneskud2_sprite {
        display: none;
    }
}

@media (max-width: 1400px) {
    #raket_sprite {
        display: none;
    }
}


/********************LISTEVIEW*************/

main {
    margin: 0 20px;
}

#overskrift {
    font-family: 'Audiowide', cursive;
    font-size: 3rem;
    text-align-last: center;
    color: white;
    padding: 55px;
}


#listeview {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.element_container {
    position: relative;
    background-color: black;
    border-radius: 100%;
    width: 300px;
    margin: 50px;
}

.element_container img {
    object-fit: cover;
}


#info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 76%;
    background-color: white;
    font-family: 'Audiowide', cursive;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    max-width: 244px;
}

.navn {
    font-size: 1.5rem;
}

@media (min-width: 600px) {
    #listeview {
        max-width: 1100px;
        margin: 0 auto;
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
}

/*******************Popup******************/

#popup {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .8);
    display: none;
}

#popup article {
    width: 100vw;
    height: 65vh;
    background-color: white;
    border-radius: 100%;
    margin-top: 100px;

}

#luk {
    position: fixed;
    background-image: url(assets/tilbage.svg);
    background-size: cover;
    width: 100px;
    height: 80px;
    left: 39vw;
    top: 65vh;
    cursor: pointer;
}

.popup_navn {
    position: relative;
    top: 50px;
    text-align: center;
    font-size: 1.4rem;
    font-family: 'Audiowide', cursive;
    margin: 0;
}

.popup_kategori {
    position: relative;
    text-align: center;
    font-family: 'Audiowide', cursive;
    font-weight: 700;
    font-size: .8rem;
    margin: 0;
    top: 50px;

}

.popup_img {
    max-width: 40vw;
    position: relative;
    top: 80px;
    padding: 10px;
}

.popup_beskrivelse {
    position: relative;
    width: 170px;
    font-family: 'Montserrat', sans-serif;
    font-size: .7rem;
    top: 50px;
    left: 30px;

}

#popup section {
    display: flex;
}

@media (min-width: 600px) {
    #popup article {
        width: 700px;
        height: 700px;
        margin: 20px auto;


    }

    .popup_navn {
        font-size: 2.5rem;
        top: 120px;
    }

    .popup_kategori {
        top: 120px;
        font-size: 1rem;
    }

    .popup_beskrivelse {
        width: 300px;
        font-size: 1rem;
        left: -30px;

    }

    .popup_img {
        width: 300px;
        left: -30px;
    }

    #popup section {
        align-items: center;
        justify-content: center;
        margin: 85px;
    }

    #luk {
        width: 141px;
        height: 100px;
        left: 45vw;
        top: 538px;


    }
}

/*************FOOTER*************/

footer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(370px, 1fr));
    grid-gap: 50px;
    margin: 40px 20px;
    font-family: 'Montserrat', sans-serif;

}

.footer_logo {
    background-image: url(assets/Logo_black_text.png);
    background-size: cover;
    height: 172px;
    width: 150px;
    margin: 0 auto;

}

a:link {
    color: black;
}

a:visited {
    color: black;
}

#credits {
    margin-top: 42px;
    margin-left: 50px;
}

#copy {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}
