body {
    margin: 0;
    background-image: linear-gradient(#1A066E 40%, #0227F5, #D4D2E0);

}


img {
    width: 100%;
}

html {
    scroll-behavior: smooth;
}


/*********************MENUBAR****************/

nav {
    background-color: black;
    display: flex;
    z-index: 1;
    position: fixed;
    width: 100vw;
    margin-top: -55px;
}

#menuknap {
    color: white;
    display: inline-block;
    font-size: 40px;
    margin-left: 5%;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;

}



.logo {
    background-image: url(assets/Logo_no_text.png);
    background-size: cover;
    width: 50px;
    height: 50px;
    right: 5%;
    top: 3%;
    /*    margin: 0 auto;*/
    z-index: 1;
    position: absolute;
    cursor: pointer;
}

.hidden {
    display: none;
    transform: translateX(-100%);
    padding: 0;

}

#menu {
    list-style-type: none;
    transition: transform .3s;
    transform-origin: top left;
    background-color: black;
    align-items: center;
    margin-top: 50px;
}

.filter {
    background: transparent;
    border: 0px solid transparent;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8rem;
    cursor: pointer;
    text-transform: uppercase;
}

.valgt {
    color: yellow;
    text-shadow: 0 0 20px rgb(255, 255, 0);

}

li {
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
}

@media(min-width: 600px) {
    #menuknap {
        display: none;
    }

    #menu.hidden {
        transform: translateX(0);
        opacity: 1;
    }

    #menu {
        margin: 0;
        padding-bottom: 14px;
        width: 90vw;
        display: flex;
        justify-content: space-evenly;
        margin-left: 50px;
    }

    #menu li {
        /*
        display: flex;
        justify-content: space-evenly;
*/
        font-family: 'Montserrat', sans-serif;
        cursor: pointer;
    }

    .logo {
        right: 4%;
        top: 15%;
    }

    nav {
        height: 55px;
    }


}

/**************SPLASH******************/

#splash {
    width: 100vw;
    height: 100vh;
    max-width: none;
    background-image: url(assets/splash.png);
    background-size: cover;
    background-position: 50% 100%;
    position: relative;
    margin-top: 55px;

}

.link {
    width: 100vw;
    display: flex;
    justify-content: center;


}

#pil {
    width: 150px;
    cursor: pointer;
    margin-top: 470px;

}


.pulse {
    animation-name: pulse_kf;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}

@keyframes pulse_kf {
    0% {
        transform: scale(0.80);
    }

    50% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.80);
    }
}

#stjerneskud1_sprite {
    width: 6vw;
    height: 3.75vw;
    background-image: url(assets/stjerneskud.svg);
    background-size: cover;
    transform: rotate(140deg);
}

#stjerneskud1_container {
    position: absolute;
    top: -60px;
    left: 400px;
}

#stjerneskud2_sprite {
    width: 6vw;
    height: 3.75vw;
    background-image: url(assets/stjerneskud.svg);
    background-size: cover;
    transform: rotate(-30deg);
}

#stjerneskud2_container {
    position: absolute;
    top: 400px;
    left: -100px;
}

.flyv1 {
    animation: flyv1_kf 1.5s linear 1;
}

@keyframes flyv1_kf {
    0% {
        top: -60px;
        left: 600px;
        opacity: 1;
    }

    100% {
        top: 600px;
        left: -150px;
        opacity: 0%
    }
}

.flyv2 {
    animation: flyv2_kf 1s linear 1;
}

@keyframes flyv2_kf {
    0% {
        top: 700px;
        left: 800px;
        opacity: 1;
    }

    100% {
        top: 300px;
        left: 1500px;
        opacity: 0%
    }
}

@media (max-width: 600px) {
    #stjerneskud1_sprite {
        display: none;
    }

    #stjerneskud2_sprite {
        display: none;
    }
}


/********************LISTEVIEW*************/

main {
    margin: 0 20px;
}

#overskrift {
    font-family: 'Audiowide', cursive;
    font-size: 3rem;
    text-align-last: center;
    color: white;
    padding: 55px;

}


#listeview {
    width: 93vw;
    max-width: 1100px;
    margin: 0 auto;
    display: grid;
    grid-gap: 80px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    /*
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(370px, 1fr));
    grid-gap: 80px;*/
}

.element_container {
    position: relative;
    background-color: black;
    border-radius: 100%;
}

.element_container img {
    object-fit: cover;
}


#info {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 76%;
    background-color: white;
    font-family: 'Audiowide', cursive;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}

.navn {
    font-size: 1.6rem;
}

/*******************Popup******************/

#popup {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .8);
    display: none;
}

#popup article {
    width: 100vw;
    height: 45vh;
    background-color: white;
    border-radius: 100%;
    margin-top: 100px;

}

#luk {
    position: absolute;
    background-image: url(assets/tilbage.png);
    background-size: cover;
    width: 50px;
    height: 50px;
    left: 42.5vw;
    top: 47vh;
}

.popup_navn {
    position: relative;
    top: 20px;
    text-align: center;
    font-size: 2rem;
    font-family: 'Audiowide', cursive;
    margin: 0;
}

.popup_kategori {
    position: relative;
    text-align: center;
    font-family: 'Audiowide', cursive;
    font-weight: 700;
    font-size: .8rem;
    margin: 0;
    top: 20px;

}

.popup_img {
    max-width: 40vw;
    position: relative;
    top: 50px;
    padding: 10px;
}

.popup_beskrivelse {
    position: relative;
    width: 170px;
    font-family: 'Montserrat', sans-serif;
    font-size: .6rem;
    top: 30px;

}

#popup section {
    display: flex;
}

@media (min-width: 600px) {
    #popup article {
        width: 700px;
        height: 700px;
        margin: 20px auto;


    }

    .popup_navn {
        font-size: 2.5rem;
        top: 70px;
    }

    .popup_kategori {
        top: 70px;
        font-size: 1rem;
    }

    .popup_beskrivelse {
        width: 300px;
        font-size: 1rem;
    }

    .popup_img {
        width: 300px;
        padding: 10px;
    }

    #popup section {
        align-items: center;
        justify-content: center;
        margin: 85px;
    }

    #luk {
        width: 100px;
        height: 100px;
        left: 47vw;
        top: 77vh;


    }
}

/*************FOOTER*************/

footer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(370px, 1fr));
    grid-gap: 50px;
    margin: 40px 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    text-align: center;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

#credits {}


.footer_logo {
    background-image: url(assets/Logo_black_text.png);
    background-size: cover;
    height: 155px;
    width: 150px;
    margin: 0 auto;

}
